**Difference between list, set, tuple**

**List []** - ordered, mutable
**Set {}** - unordered, mutable
**Tuple ()** - ordered, immutable

**Dictionary**

In [ ]:
deals_data = {"deal_code" : "HJ1000001", "target_name" : "HJ"}
deals_data["deal_code"]

'HJ1000001'

In [ ]:
deals_data = [{"deal_code" : "HJ1000001", "target_name" : "HJ"},{"deal_code" : "HJ1000002", "target_name" : "HDJ"}, {"deal_code" : "HJ1000003", "target_name" : "HDSJ"}]
deals_data[2]["deal_code"]

'HJ1000003'

**Variables and Functions**

In [ ]:
def HJ():
  a = 10
  b = 19
  c = 30
  d = a+b-c
  e = d*-1
  f = e*49
  print("the output is", f)

In [ ]:
HJ()

the output is 49

In [ ]:
name = input("enter your name: ")
print("your name is ", name)

enter your name: HJ
your name is  HJ

**Multiple Inputs**

In [ ]:
a, b, c = input("enter number with comma space: ").split(", ")
print("your 1st number is ", a)
print("your 2nd number is ", b)
print("your 3rd number is ", c)
type(a)

enter number with comma space: 3, 4, 5
your 1st number is  3
your 2nd number is  4
your 3rd number is  5

str

In [ ]:
a, b, c, d = map(float, input("enter number with comma space: ").split(", "))
print("your 1st number is ", a)
print("your 2nd number is ", b)
print("your 3rd number is ", c)
print("your 4th number is ", d)
type(a)

enter number with comma space: 1, 2, 3, 5
your 1st number is  1.0
your 2nd number is  2.0
your 3rd number is  3.0
your 4th number is  5.0

float

In [ ]:
from ast import Num
a, b, c, d  = [int(num) for num in input("enter number with comma space: ").split(", ")]
print("your 1st number is ", a)
print("your 2nd number is ", b)
print("your 3rd number is ", c)
print("your 4th number is ", d)
type(a)

enter number with comma space: 1, 2, 3, 5
your 1st number is  1
your 2nd number is  2
your 3rd number is  3
your 4th number is  5

int

In [ ]:
digit = {int(digit) for digit in input("enter number with comma space: ").split(", ")}
print(digit)
type(digit)

enter number with comma space: 1, 2, 3, 4
{1, 2, 3, 4}

set

In [ ]:
digit = input("enter number with comma space: ").split(", ")
digit = [int(digit) for digit in digit]
print(digit)

enter number with comma space: 1, 2, 3, 4
[1, 2, 3, 4]

In [ ]:
d = {"XXXX":6666, "YYYYY":77777}
l = ["XXXXX","XXXXX","YYYY"]
s = [d.get(key,"abc") for key in l]
print (s)

['abc', 'abc', 'abc']

In [ ]:
abc = (1, 2, 3, 4, 5, 6, 7)
total_sum = 0
for numbers in abc:
    total_sum = total_sum + numbers
print ("total sum is ", total_sum)

total sum is  28

In [ ]:
for i in range(10):
    print((float(i)))

0.0
1.0
2.0
3.0
4.0
5.0
6.0
7.0
8.0
9.0

In [ ]:

while True:
             num = input()
             if int(num) == 5:
                print(25)
                break
             elif int(num) %4== 0:
                continue
             else: print(int(num)*int(num))

8
12
16
5
25

In [ ]:

abc = (1, 2, 3, 4, 5, 8, 8, 9)
for i in abc:
    if int(i) < 10:
      print(int(i))

1
2
3
4
5
8
8
9

In [ ]:

abc = (1, 2, 3, 4, 5, 8, 8, 9)
while abc > 0:
      print(abc)

TypeError: '>' not supported between instances of 'tuple' and 'int'

In [ ]:
for x in range(3):
    for y in range(5):
        print("*", end="")
    print()

*****
*****
*****

In [ ]:
n = 0
while n<6:
      x = ("*")*n
      print(x)
      n+=1

*
**
***
****
*****

In [ ]:
n = 5
for i in range(n):
    for j in range(5-i):
        print(' ',end='')
    for z in range(2*i+1):
        print('*',end='')
    print('')

     *
    ***
   *****
  *******
 *********

In [ ]:
 n = 5
for i in range(n):
    for j in range(5-i-1):
        print(' ',end='')
    for z in range(2*i+1):
        print('*',end='')
    print('')
for k in range(n-1,0,-1):
    print(' '*(n-k),end='')
    print('*'*(2*k-1))

    *
   ***
  *****
 *******
*********
 *******
  *****
   ***
    *

In [ ]:
l = 'abcba'
for i in range(len(l)-1):
   if l[i] != l[len(l)-i-1]:
      print("not palindrome")
   else:
      continue
print("palinndrome")

palinndrome

In [ ]:
j = ''
l = 'himanshu'
for i in l:
   j = i + j
print(j)

uhsnamih

In [ ]:
d = {'name': 'Alice', 'age': 25, 'city': 'New York'}
d.get('name')

'Alice'

In [ ]:
n = {
     'code1' : {'code': '12345', 'age': 25, 'data':{'code1':'1', "code2":'2'}},
     'code2' : {'code': '45678', 'age': 25, 'data':{'code1':'3', "code2":'4'}},
     'code3' : {'code': '98765', 'age': 25, 'data':{'code1':'5', "code2":'6'}}
     }

In [ ]:
n = d|n
n

{'name': 'Alice',
 'age': 25,
 'city': 'New York',
 'code1': {'code': '12345', 'age': 25, 'data': {'code1': '1', 'code2': '2'}},
 'code2': {'code': '45678', 'age': 25, 'data': {'code1': '3', 'code2': '4'}},
 'code3': {'code': '98765', 'age': 25, 'data': {'code1': '5', 'code2': '6'}}}

In [ ]:
print(n.keys())

dict_keys(['name', 'age', 'city', 'code1', 'code2', 'code3'])

Q1 : Description
Sometimes the data has few duplicate values which will affect the analysis done. In this problem, you will be given a list. You have to find and delete the duplicates and print the updated list with no duplicates.

----------------------------------------------------------------------
Input:
A list of integers.

Output:
A list of integers, with duplicates removed if any.

----------------------------------------------------------------------
Sample input:
[8, 9, 2, 2, 3, 4, 5, 2]

Sample output:
[8, 9, 2, 3, 4, 5]

----------------------------------------------------------------------
Sample input:
[4, 4, 4, 4]

Sample output:
[4]

----------------------------------------------------------------------
Note the order of the data did not change in input and output.

In [8]:
l = [10,9,3,3,3,4,5,6,7,8]
list(dict.fromkeys(l))

[10, 9, 3, 4, 5, 6, 7, 8]

Q2 : You will be converting a dictionary, of string(keys) and list of string (values),  to a list of strings. Please check the sample input/output for clarification.


Input:
A dictionary with keys as strings and values as a list of strings.

Output:
A list of strings


Sample input:
{‘Mobile’: [‘Redmi’, ‘Samsung’, ‘Realme’],
‘Laptop’: [‘Dell’, ‘HP’],
‘TV’: [‘Videocon’, ‘Sony’] }

Sample output:
[‘Mobile_Redmi’, ‘Mobile_Samsung’, ‘Mobile_Realme’, ‘Laptop_Dell’, ‘Laptop_HP’, ‘TV_Videocon’, ‘TV_Sony’]


Sample input:
{ 'Pen': ['Gel', 'Ink', 'ball'],
'Mobile': ['Android', 'apple'] }

Sample output:
['Pen_Gel', 'Pen_Ink', 'Pen_ball', 'Mobile_Android', 'Mobile_apple']

In [63]:
a = {'Mobile': ['Redmi', 'Samsung', 'Realme'], 'Laptop': ['Dell', 'HP'], 'TV': ['Videocon', 'Sony'] }
z=[]
for i,j in a.items():
  for b in j:
     z.append(f"{i}_{b}")
print(z)

['Mobile_Redmi', 'Mobile_Samsung', 'Mobile_Realme', 'Laptop_Dell', 'Laptop_HP', 'TV_Videocon', 'TV_Sony']

Q3 : Description
You will be given a string with a lot of brackets. You have to print if the brackets are balanced or not. Remember, there are three types of brackets: ‘( )’,  ‘{ }’ and ‘[ ]’.

----------------------------------------------------------------------
Input:
A string

Output:
Yes, if the brackets are balanced.
No otherwise.

In [96]:
s2 = '{{{[[[[]]]}(())'
s = '{{{{[[[[((()))]]]]}}}}'


if s.count('{') == s.count('}') and s.count('[') == s.count(']') and s.count('(')== s.count(')'):
  print("Balanced")
else :
  print("Not balanced")

Balanced

Q4 You will be given a dictionary with keys as items and values as their prices. You have to print the cheapest item.

----------------------------------------------------------------------
Sample input:
A single line non-empty dictionary

Sample output:
cheapest_item name: cheapest_item_cost

----------------------------------------------------------------------
Sample input:
{'mobile1':10000, 'mobile2':11000, 'mobile3':13000, 'mobile4':9000, 'mobile5':15000, 'mobile6':16000, 'mobile7':17000, 'mobile8':18000, 'mobile9':19000}

Sample output:
mobile4: 9000

Note: in case of a tie, whichever item came first should be the output.

In [19]:
a = {'mobile1':9000, 'mobile2':11000, 'mobile3':13000, 'mobile4':9000, 'mobile5':15000, 'mobile6':9000, 'mobile7':17000, 'mobile8':18000, 'mobile9':19000}
l = []
q = []
for i,j in a.items():
  q.append(i)
  l.append(j)
b = l.index(min(l))
c = q[b]
print(c,l[b], sep=":")

TypeError: 'int' object is not callable

Q5 You will be given a list of repeated elements. You have to find the maximum distance between two same elements. The answer will be zero if there are no repeated elements.

----------------------------------------------------------------------
Input:
A non-empty list of integers.

Output:
A single integer denoting the maximum distance between two same integers.

----------------------------------------------------------------------
Sample input:
[1, 2, 3, 2, 5, 1, 2, 4, 6, 2, 7, 8, 6]

Sample output:
8

Explanation:
Max distance for 1: 5
Max distance for 2: 8
Max distance for 3: 0
Max distance for 4: 0
Max distance for 5: 0
Max distance for 6: 4
Max distance for 7: 0
Max distance for 8: 0

In [20]:
a = [1, 2, 3, 2, 5, 1, 2, 4, 6, 2, 7, 8, 6]
c = []
for i in a:
   b = (len(a) - 1 - list(reversed(a)).index(i)) - a.index(i)
   c.append(b)
print(max(c))

8

Q6 Your team is going for camping and you are taking a vote to decide what food to pack for dinner.
Everyone gets a vote and the food item that gets at least one more than half of the votes wins. None of the items wins if nothing gets at least one more than half votes. Assume that every person gets only one vote.
The input will contain a list of food items where each occurrence of an item represents one vote. You should print the winning food item as output. If there is no clear winner, print "NOTA".

Sample Input:
["pasta","pasta","pasta","pasta","pasta","paratha","paratha","paratha"]
Sample Output:
pasta

In [22]:
a = ["paratha","bread", "bread","pizza","pizza","pizza","pizza"]
d = {}
e = []
b = []
for i in a:
  d[i] = a.count(i)
for i,j in d.items():
  b.append(i)
  e.append(j)
if max(e)>len(a)/2:
    print(b[e.index(max(e))])
else:
    print("NOTA")

pizza

Q7 Consider a nested dictionary as follows:

{'Fruit': 1, 'Vegetable': {'Cabbage': 2, 'Cauliflower': 3}, 'Spices': 4}

Your task is to flatten a nested dictionary and join the nested keys with the "_" character. For the above dictionary, the flattened dictionary would be as follows:

{'Fruit': 1, 'Vegetable_Cabbage': 2, 'Vegetable_Cauliflower': 3, 'Spices': 4}



The input will have a nested dictionary.

The output should have two lists. The first list will have keys and the second list should have values. Both lists should be sorted.

In [1]:
a = {'Fruit': 1, 'Vegetable': {'Cabbage': 2, 'Cauliflower': 3}, 'Spices': 4}
c = {}
for x,y in a.items():
  if type(y) == dict:
    for e,f in y.items():
        c[f"{x}_{e}"] = f
  else: c[x] = y
keys = sorted(c.keys())
values = [c[k] for k in keys]

Q 8 In the binary search, you kept reducing the search space into half of the previous search space. In this question, can you similarly reduce the search space in one-third of the last space search and write a searching algorithm?

----------------------------------------------------------------------
Input:
A non-empty sorted list of unique integers in line one
The integer key to be found in line two

Output:
Index of the element key if it is present in the list, else -1

----------------------------------------------------------------------
Sample input:
[3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27]
17

Sample output:
7

----------------------------------------------------------------------
Sample input:
[3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27]
1


Sample output:
-1