**Difference between list, set, tuple**

**List []** - ordered, mutable
**Set {}** - unordered, mutable
**Tuple ()** - ordered, immutable

**Dictionary**

In [ ]:
deals_data = {"deal_code" : "HJ1000001", "target_name" : "HJ"}
deals_data["deal_code"]

'HJ1000001'

In [ ]:
deals_data = [{"deal_code" : "HJ1000001", "target_name" : "HJ"},{"deal_code" : "HJ1000002", "target_name" : "HDJ"}, {"deal_code" : "HJ1000003", "target_name" : "HDSJ"}]
deals_data[2]["deal_code"]

'HJ1000003'

**Variables and Functions**

In [ ]:
def HJ():
  a = 10
  b = 19
  c = 30
  d = a+b-c
  e = d*-1
  f = e*49
  print("the output is", f)

In [ ]:
HJ()

the output is 49

In [ ]:
name = input("enter your name: ")
print("your name is ", name)

enter your name: HJ
your name is  HJ

**Multiple Inputs**

In [ ]:
a, b, c = input("enter number with comma space: ").split(", ")
print("your 1st number is ", a)
print("your 2nd number is ", b)
print("your 3rd number is ", c)
type(a)

enter number with comma space: 3, 4, 5
your 1st number is  3
your 2nd number is  4
your 3rd number is  5

str

In [ ]:
a, b, c, d = map(float, input("enter number with comma space: ").split(", "))
print("your 1st number is ", a)
print("your 2nd number is ", b)
print("your 3rd number is ", c)
print("your 4th number is ", d)
type(a)

enter number with comma space: 1, 2, 3, 5
your 1st number is  1.0
your 2nd number is  2.0
your 3rd number is  3.0
your 4th number is  5.0

float

In [ ]:
from ast import Num
a, b, c, d  = [int(num) for num in input("enter number with comma space: ").split(", ")]
print("your 1st number is ", a)
print("your 2nd number is ", b)
print("your 3rd number is ", c)
print("your 4th number is ", d)
type(a)

enter number with comma space: 1, 2, 3, 5
your 1st number is  1
your 2nd number is  2
your 3rd number is  3
your 4th number is  5

int

In [ ]:
digit = {int(digit) for digit in input("enter number with comma space: ").split(", ")}
print(digit)
type(digit)

enter number with comma space: 1, 2, 3, 4
{1, 2, 3, 4}

set

In [ ]:
digit = input("enter number with comma space: ").split(", ")
digit = [int(digit) for digit in digit]
print(digit)

enter number with comma space: 1, 2, 3, 4
[1, 2, 3, 4]

In [ ]:
d = {"XXXX":6666, "YYYYY":77777}
l = ["XXXXX","XXXXX","YYYY"]
s = [d.get(key,"abc") for key in l]
print (s)

['abc', 'abc', 'abc']

In [ ]:
abc = (1, 2, 3, 4, 5, 6, 7)
total_sum = 0
for numbers in abc:
    total_sum = total_sum + numbers
print ("total sum is ", total_sum)

total sum is  28

In [ ]:
for i in range(10):
    print((float(i)))

0.0
1.0
2.0
3.0
4.0
5.0
6.0
7.0
8.0
9.0

In [ ]:

while True:
             num = input()
             if int(num) == 5:
                print(25)
                break
             elif int(num) %4== 0:
                continue
             else: print(int(num)*int(num))

8
12
16
5
25

In [ ]:

abc = (1, 2, 3, 4, 5, 8, 8, 9)
for i in abc:
    if int(i) < 10:
      print(int(i))

1
2
3
4
5
8
8
9

In [ ]:

abc = (1, 2, 3, 4, 5, 8, 8, 9)
while abc > 0:
      print(abc)

TypeError: '>' not supported between instances of 'tuple' and 'int'

In [ ]:
for x in range(3):
    for y in range(5):
        print("*", end="")
    print()

*****
*****
*****

In [ ]:
n = 0
while n<6:
      x = ("*")*n
      print(x)
      n+=1

*
**
***
****
*****

In [ ]:
n = 5
for i in range(n):
    for j in range(5-i):
        print(' ',end='')
    for z in range(2*i+1):
        print('*',end='')
    print('')

     *
    ***
   *****
  *******
 *********

In [3]:
 n = 5
for i in range(n):
    for j in range(5-i-1):
        print(' ',end='')
    for z in range(2*i+1):
        print('*',end='')
    print('')
for k in range(n-1,0,-1):
    print(' '*(n-k),end='')
    print('*'*(2*k-1))

    *
   ***
  *****
 *******
*********
 *******
  *****
   ***
    *

In [66]:
l = 'abcba'
for i in range(len(l)-1):
   if l[i] != l[len(l)-i-1]:
      print("not palindrome")
   else:
      continue
print("palinndrome")

palinndrome

In [7]:
j = ''
l = 'himanshu'
for i in l:
   j = i + j
print(j)

uhsnamih